* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
i {
  color: rgba(81, 81, 81, 0.4);
  padding: 3px;
}
/* background */
.two-colour-background {
  position: relative;
  height: 100vh;
  background-image: -webkit-linear-gradient(top, #109588 20%, #E8E6E0 10%);
}
/* container-app */
.container-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 95%;
  background-color: white;
}
/* header */
header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #D8D8D8;
}
/* header-left */
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 100%;
  padding: 0 15px;
  border-right: 1.5px solid rgba(81,81,81, 0.3);
}
.user-info, .user-open {
  display: flex;
  align-items: center;
  height: 100%;
}
.user-info h4 {
  font-weight: 400;
}
.user-info img, .user-open img {
  height: 75%;
  margin-right: 5px;
  background-color: #D8D8D8;
}
/* /header-left */
/* header-right */
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 380px);
  height: 100%;
  padding: 0 15px;
}
/* /header-right */
