* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* utilitis */
i {
  padding: 3px;
  color: rgba(81, 81, 81, 0.4);
  font-size: 16px;
}
i:hover {
  color: rgba(81, 81, 81, 0.8);
  transition-duration: 0.2s;
}
img {
  height: 75%;
  margin-right: 5px;
}
/* list */
.inline-list li {
  list-style-type: none;
  display: inline-block;
}
/* user */
.user-image {
  display: flex;
  align-items: center;
  height: 100%;
}
.user-data p {
  padding-top: 5px;
  font-size: 10px;
  color: rgba(81, 81, 81, 0.5);
}
:focus {
  outline: none;
}
/* background */
.two-colour-background {
  position: relative;
  height: 100vh;
  background-image: -webkit-linear-gradient(top, #109588 90px, #D7DBD7 10%);
}
/* container-app */
.container-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 95%;
  background-color: #ffff;
}
/* header */
header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #D8D8D8;
}
/* header-left */
#header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 100%;
  padding: 0 15px;
  border-right: 1.5px solid rgba(81,81,81, 0.3);
}
.user-info, .user-open {
  display: flex;
  align-items: center;
  height: 100%;
}
#header-left .user-info h4 {
  font-weight: bolder;
}
/* /header-left */
/* header-right */
#header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 0 15px;
}
/* /header-right */
/* main */
main {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
}
/* section main-nav */
#main-nav {
  width: 35%;
  height: 100%;
}
/* notice */
.main-nav-notice {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 70px;
  background-color: #8CD6F7;
}
.main-nav-notice i {
  background-color: #ffff;
  padding: 10px;
  margin-right: 5px;
  font-size: 18px;
  border-radius: 50%;
  color: #8CD6F7;
}
.main-nav-notice a {
  color: rgba(81, 81, 81, 0.6);
}
.main-nav-notice a:hover {
  color: rgba(81, 81, 81, 0.8);
  transition-duration: 0.2s;
}
/* /notice */
/* input main nav */
.main-nav-input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 4px;
  background-color: #F8F8F8;
}
.main-nav-input button {
  width: 60px;
  background-color: #ffff;
  border: 1px solid rgba(81, 81, 81, 0.4);
  border-radius: 4px 0 0 4px;
  border-right: 0px;
  cursor: pointer;
}
.main-nav-input input {
  width: calc(100% - 60px);
  height: 100%;
  border: 1px solid rgba(81, 81, 81, 0.4);
  border-radius: 0 4px 4px 0;
  border-left: 0px;
}
/* /input main nav */
/* main contacts */
.main-contacts {
  overflow-y: scroll;
  height: calc(100% - 110px);
}
/* row contacts */
.user-main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(81, 81, 81, 0.2);
  cursor: pointer;
}
.user-main-nav .user-info p {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* classe active!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.active {
  background-color: rgba(81, 81, 81, 0.2);
  border-bottom: 0;
}
.main-contacts .user-main-nav:last-child {
  border-bottom: 0;
}
.data-message {
  align-self: flex-start;
}
.data-message p {
  padding: 8px;
  font-size: 10px;
  color: rgba(81, 81, 81, 0.5);
}
/* /row contacts */
/* /main contacts */
/* /section main-nav */
/* section messages-container */
#messages-container {
  width: 65%;
  height: 100%;
}
/* area messaggi */
#area-messages {
  width: 100%;
  height: calc(100% - 60px);
  padding: 30px 80px;
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  overflow-y: scroll;
}
.wrapper {
  width: 100%;
}
.clearfix {
  content: "";
   clear: both;
   display: table;
}
.box-message {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 190px;
  max-width: 300px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}
.sent {
  float: right;
  background-color: #CFFABD;
  border-radius: 10px 0 10px 10px;
}
.sent::after {
  position: absolute;
  top: 0;
  right: -1px;
  content: '';
  display: block;
  width: 10px;
	height: 11px;
	transform: skew(-22deg);
  background-color: #CFFABD;
}
.received {
  float: left;
  border-radius: 0 10px 10px 10px;
  background-color: #ffff;
}
.received::after {
  position: absolute;
  top: 0;
  left: -1px;
  content: '';
  display: block;
  width: 10px;
	height: 11px;
	transform: skew(22deg);
  background-color: #ffff;
}
.data-message-box {
  position: relative;
  width: 80px;
}
.data-message-box span {
  position: absolute;
  bottom: -8px;
  right: -6px;
  width: 80px;
  font-size: 8px;
  color: rgba(81, 81, 81, 0.5);
}
.box-message-delete  {
  position: absolute;
  right: 5px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
  background-color: #ffff;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.box-message-delete p {
  padding: 5px;
  cursor: pointer;
  color: rgba(81, 81, 81, 0.5);
}
.box-message-delete p:hover {
  color: rgba(81, 81, 81, 0.9);
}
/* /area messaggi */
/* zona input */
.input-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #F1EEE6;
}
.input-message i {
  font-size: 20px;
  color: gray;
}
.input-message i:hover {
  color: black;
  transition-duration: 0.2s;
}
.input-message input {
  width: 80%;
  height: 75%;
  padding: 0 10px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
}
/* /zona input */
/* /section messages-container */
/* /main */
